@import './stylesheet.scss';

footer {
  @extend %flex-column;
  justify-content: space-between;
  align-items: center;
  background-color: $green;
  color: $white;

  div {
    margin: 10px 0px;
  }

  #icons-container {
    margin-top: 20px;

    img {
      width: 30px;
      height: 30px;
      margin: 0px 10px;

      -webkit-filter: invert(1); /* safari 6.0 - 9.0 */
      filter: invert(1);
    }
  }

  a {
    color: $white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}