@import './stylesheet.scss';

nav {
  @extend %flex-row;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 1rem 1.5rem;
  z-index: 100;
  transition: all .3s ease-in-out;

  .navHome {
    font-size: 1.7rem;
  }

  .navLinkContainer {
    @extend %flex-row;
    justify-content: space-between;
    font-size: 1.5rem;
    
    height: 100%;
    width: 35%;
  }

  .navLink {
    text-decoration: none;
    margin-bottom: 3px;
  
    &:hover {
      cursor: pointer;
      margin-bottom: 0px;
    }
  }
}

.navTop {
  background-color: transparent;
  .navLink {
    color: $white;
    &:hover {
      color: $white;
      border-bottom: 3px solid $white;
    }
  }
}

.nav {
  background-color: $gray;
  .navLink {
    color: $black;
    &:hover {
      color: $black;
      border-bottom: 3px solid $orange;
    }
  }
}