@import './stylesheet.scss';

#portfolio {
  @extend %flex-column;
  background: $gray;

  .title {
    @extend %flex-row;
    justify-content: center;
    font-size: 2rem;
    padding: 30px 0px 50px 0px;
    flex: 0 1 auto;
    div {
      border-bottom: 3px solid $orange;
    }
  }

  .portfolioContainer {
    @extend %flex-row;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    padding: 0px 15px;
    @include mq-lg {
      padding: 0px 30px; // desktop
    }

    .card {
      @extend %flex-column;
      justify-content: space-around;
      align-items: center;

      flex-basis: 100%;
      @include mq-md {
        flex-basis: 45%;
      }
      @include mq-lg {
        flex-basis: 30%;
      }
      min-height: 300px;
      background: $white;
      margin: 20px 0px;
      padding: 10px 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

      .cardLogo {
        @extend %flex-row;
        height: 130px;
        width: 75%;
        justify-content: center;
        align-items: center;

        svg {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}