// Colors
$black: #1F2421;
$gray: #EAEAEA;
$green: #00693E;
$orange: #C44900;
$white: white;
$yellow: #EFD6AC;

body, html {
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

// Media Queries
/* Custom, iPhone Retina */
@mixin mq-xs {
  @media (min-width: 320px) {
    @content;
  }
}

/* Extra Small Devices, Phones */
@mixin mq-sm {
  @media (min-width: 480px) {
    @content;
  }
}

/* Small Devices, Tablets */
@mixin mq-md {
  @media (min-width: 768px) {
    @content;
  }
}

/* Desktops */
@mixin mq-lg {
  @media (min-width: 992px) {
    @content;
  }
}

// Extensions
%flex-row {
  display: flex;
  flex-direction: row;
}

%flex-column {
  display: flex;
  flex-direction: column;
}